<footer>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container">
    <div class="row">
      <div class="col">

        {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ site.title | escape }}
        {%- endif -%}
      </div>
      <div class="col">   
        {%- if site.email -%}
          <a class="text-center" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </div>
     
      <div class="col-auto">
        {%- include social.html -%}
      </div>
        
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  
  <script type="text/javascript">
  
  $(document).ready(function () {
    
    {%- if page.layout == 'home' -%}
    home_callback();
    {%- endif -%}

  });
  
  </script>
  

</footer>
