<footer>
  <data class="u-url" href="/"></data>
  <div class="container">
    
    <div class="row mt-4">
      <div class="col-6 col-md-3 col-lg-2">
        <a href="/"><img src="{{ "/assets/img/logo-color-black.png" | relative_url }}" class="img-fluid w-75"></a>
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="col-12 col-md-3">
        <h5 class="text-dark mb-1">Links</h5>
        <ul class="m-0" style="list-style-type: none;">
          <li><a class="text-center text-muted small" href='{{ "/" | relative_url }}'>DSC IIIT Delhi</a></li>
          <li><a class="text-center text-muted small" href="https://developers.google.com/">Google Developers</a></li>
          <li><a class="text-center text-muted small" href="https://iiitd.ac.in/">IIIT Delhi</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="text-dark mb-1 mt-3 mt-md-0">Follow Us</h5>   
        {%- include social.html -%}
      </div> 
      <div class="col-12 col-md-3">
        <h5 class="text-dark mb-1 mt-3 mt-md-0">Contacts</h5>   
        {%- if site.email -%}
        <a class="text-center text-muted small" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </div> 
      <div class="col-12 col-md-3">
        <h5 class="text-dark mb-1 mt-3 mt-md-0">Privacy</h5>
        <a class="text-center text-muted small" href="/privacy_policy">Privacy Policy</a></li>
      </div>    
    </div>

    <div class="row mt-3 mb-2">
      <div class="col">
        <p class="small text-muted">© 2019 DSC IIIT Delhi | Google Developers</p>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  
  <script type="text/javascript">
  
  $(document).ready(function () {
    
    {%- if page.layout == 'home' -%}
    
    home_callback();
    
    {%- endif -%}

    // Scroll on know more button click
    $('.know-more-button').click(function(){
      $('html, body').animate({
        scrollTop: $('.main-about').offset().top
      }, 500);
    })

    // Link click actions
    $('#close-modal').click(function(){
      $('.modal-main-data').fadeOut(300);
      $('.modal-main-app').fadeOut(300);
      $('.modal-main-ml').fadeOut(300);
      $('.modal').fadeOut(300);
      $('.tint').fadeOut(300);
    })

    $('.tint').click(function(){
      $('.modal-main-data').fadeOut(300);
      $('.modal-main-app').fadeOut(300);
      $('.modal-main-ml').fadeOut(300);
      $('.modal').fadeOut(300);
      $('.tint').fadeOut(300);
    })

    $('.data').click(function(){
      $('.modal-main-data').fadeIn(0);
      $('.tint').fadeIn(400)
      $('.modal').fadeIn(400);
    })

    $('.android').click(function(){
      $('.modal-main-app').fadeIn(0);
      $('.tint').fadeIn(400)
      $('.modal').fadeIn(400);
    })

    $('.ml').click(function(){
      $('.modal-main-ml').fadeIn(0);
      $('.tint').fadeIn(400)
      $('.modal').fadeIn(400);
    })
  });
  
  </script>
</footer>
