<footer>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="container">
    <div class="row">
      <div class="col">

        {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ site.title | escape }}
        {%- endif -%}
      </div>
      <div class="col">   
        {%- if site.email -%}
          <a class="text-center" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </div>
     
      <div class="col-auto">
        {%- include social.html -%}
      </div>
        
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  {%- if page.layout == 'home' -%}
  <script type="text/javascript">
  
  $(document).ready(function () {
    
    $(window).scroll(function(){
      if($(this).scrollTop() > 50){
        $('.navbar').removeClass('not-scrolled');
        $('#brand-logo').removeClass('large-logo');
      }
      else{
        $('.navbar').addClass('not-scrolled');
        $('#brand-logo').addClass('large-logo');
      }
    });


    $.ajax( {
      
      url: 'https://quotesondesign.com/wp-json/posts?filter[orderby]=rand&filter[posts_per_page]=1',
      success: function(data) {
        var post = data.shift(); // The data is an array of posts. Grab the first one.
        $('#quote-title').text(post.title);
        $('#quote-content').html(post.content);
      },
      cache: false
    });

  });
  
  </script>
  {%- endif -%}

</footer>
