@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus {
      outline: none !important;
      box-shadow: none !important;
}
a:visited.btn-outline-light {
    color: white;
}
a:hover.btn-outline-light {
    color: black;
}
html {
    scroll-behavior:smooth
}
body {
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    transition: 200ms ease;
}
.navbar.not-scrolled {
    background: transparent !important;
    box-shadow: none !important;
}
.bg-trans-dark {
    background: rgba(32, 35, 37, 0.87) !important;
}
#brand-logo {
    transition: 200ms ease;
}
.large-logo {
    height: 40px;
}
.shadow-sm {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.shadow {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bg-cover {
    background: url(/assets/img/cover-bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.offset-negative {
    margin-top: -56px;
}
.offset-positive {
    margin-top: 56px;
}
.stats-bg{
    background: url(/assets/img/stats-bg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.stats-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.text-info-custom {
    color: #63cdd7;
}
.member-image {
    max-width: 200px;
    max-height: 200px;
}
.social-media-links{
	margin: 0;	
}
.social-list-item{
    padding-right: 7px;
    display: inline-block;
}
.social-icon {
	width: 25px;
    height: 25px;
    display: inline-block;
    fill: #6c757d !important;
    padding: 0px;
    vertical-align: middle;
}
.social-icon > use {
    transform: scale(1.3);
}
.social-username-text {
	display: none;
}
.custom-height {
  min-height: calc(100vh - 244px);
}
@media (max-width: 767.98px) {
  .custom-height {
    min-height: calc(100vh - 472px);
  }
}
