<div id="about" class="bg-white text-primary container-fluid py-5">
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="h1 text-primary text-center">About Us</h2>
          </div>
        </div>
        <div class="mt-4 row">
            <div class="col-12 col-lg-4">
              <div class="card border-0">
                <img class="lazy card-img-top border rounded-lg" data-src="https://image.freepik.com/free-vector/character-illustration-people-with-creative-ideas-icons_53876-59888.jpg" alt="">
                <div class="card-body px-0 pt-3 pb-5">
                  <p class="lead text-primary">Apply innovative thinking to design solutions to common problems faced by the community around you, crowdsourced by DSC.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card border-0">
                <img class="lazy card-img-top border rounded-lg" data-src="https://image.freepik.com/free-vector/head-hunting-social-network_126283-1002.jpg" alt="">
                <div class="card-body px-0 pt-3 pb-5">
                  <p class="lead text-primary">Give life to your innovative solutions by making practical use of learned theoretical knowledge, gaining necessary experience.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card border-0">
                <img class="lazy card-img-top border rounded-lg" data-src="https://image.freepik.com/free-vector/hipster-people-talking-using-computers-co-working_74855-5267.jpg" alt="">
                <div class="card-body px-0 pt-3 pb-5">
                  <p class="lead text-primary">Be a part of a wide community of like-minded developers, where you can seek help and get a review, and provide your own expertise too.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>