<footer class="container-fluid py-5 bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="/#">
                    <img class="lazy" data-src="{{url_for('static', filename='images/logo-color-white.png')}}" style="height: 100px;" />
                </a>
            </div>
            <div class="mt-5 mt-md-0 col-md">
                <h5 class="text-white" style="line-height: 1.6;">
                    Developer Student Clubs are university based community groups for students interested in Google developer technologies. By joining a DSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.
                </h5>
                <hr class="border" />
                <h4 class="text-white" style="line-height: 1.6">
                    D&D by: <a class="text-white border-bottom" href="https://www.linkedin.com/in/digitalplayer1125/" target="_blank">Rishi Raj Jain</a>
                </h4>
            </div>
        </div>
    </div>
</footer>