<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/#">
            <img class="lazy" style="height: 45px;" data-src="{{url_for('static', filename='images/logo-color-white.png')}}" alt="">
        </a>
        <button class="border-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#members">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#mentors">Mentors</a>
                </li>
            </ul>
        </div>
    </div>
</nav>