---
layout: default
---

<div class="bg-cover">
  <div class="cover-overlay d-flex justify-content-center align-items-center">
    <blockquote class="blockquote text-center border-0">
      <p class="mb-0 text-white" id="quote-content"></p>
      <footer class="blockquote-footer text-white" id="quote-title"></footer>
    </blockquote>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Lists all Blog Posts For Future Reference -->
    {%- if site.posts.size > 0 and False -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

  </div>

</div>